/* ------reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

/* ------barra de navegación */
header{
    background-color: black;
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    padding: 35px;
}
h1{
    color: whitesmoke;
}
.barra-navegacion{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}
header nav ul li{
    display: inline-block;
    position: relative;
}
header nav ul li a{
    text-decoration: none;
    padding: 0 20px;
    margin: 0 20px;
    color: whitesmoke;
}

/* ------footer */
footer{
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 30px;
}
.p-footer{
    align-items: center;
    margin-top: 20px;
}

/* ------pag index */
#body-index{
    background-image: url(../img/img-surf2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* main */
.main-index{
    color: whitesmoke;
}
.h2-index{
    font-weight: 900;
    font-size: 4rem;
    margin-top: 2rem;
    text-shadow: 1px 2px 1px 1px;
    text-align: center;
}
.h2-index-dos{
    font-weight: 600;
    font-size: 4rem;
    text-shadow: 1px 2px 1px 1px;
    font-style: italic;
    margin-right: 2rem;
}
.p-index{
    font-weight: 600;
    font-size: 25px;
    text-shadow: 1px;
    text-align: center;
}
.margin-right{
    margin-right: 10px;
}
.p-index-dos{
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin: 15rem 8px 15px 8px;
    border-style: solid;
    border-radius: 30px;
    background-color: transparent;
    transition: all 0.5s;
}
.p-index-dos:hover{
    transition: all 0.5s;
    background-color: rgb(34, 34, 34);
}

/* ------pag nosotros */
#carousel-bs{
    width: 100%;
    height: 100%;
    object-fit: cover;  
    /* SACAR CARROUSEL PARA COMPU O ACHICARLO */
}
.texto-alineado{
    text-align: center;
}
.color{
    color:#6B6B6B;
}

/* ------pag surf/snow/wake */
/* main */
.img-surf{
    width: 100%;
    height: 100%;
}
.p-surf{
    margin: 15px 5px 20px 5px;
}
/* section */
.contenedor-hijo{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
} 
.img-surf4{
    display: none;
}
.tipografia{
    color: black;
    font-size: 20px;
}
.card{
    text-align: center;
}
.btn{
    color: black;
}
.btn-primary{
    color: whitesmoke;
    background-color: black;
    border: black;
}
.btn-primary:hover{
    background-color: #6B6B6B;
}

/* ------media querie para TABLET */
@media only screen and (min-width:600px){
    /* ------index */
    #body-index{
        background-image: url(../img/img-wake1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* main */
    .texto-h2{
        margin-top: 70px;
    }
    .mq-p-index{
        margin-left: 5%;
    }
    .p-index-dos{
        margin-right: 20%;
        margin-left: 20%;
        font-size: 40px;
    }

    /* ------surf */
    /* main */
    .mq-img{
        padding: 0 50px 0 50px;
        width: 100%;
        height: 30%;
    }
    /* section surf/wake/snow */
    .contenedor-hijo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        margin-left: 50%;
        margin-right: 50%;
    }
    .img-card{
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }        
}

/* ------media querie para DESKTOP */
@media only screen and (min-width:1200px){
    /* ------index */
    #body-index{
        background-image: url(../img/img-fogata.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
    /* main */
    .texto-h2{
        margin-right: 65%;
    }
    .mq-p-index{
        margin-right: 50%;
        margin-left: 60px;
        display: block;
    }
    .p-index-dos{
        margin-top: 40px;
        margin-right: 60%;
        margin-left: 5%;
    }

    /* -------surf */
    /* main */
    .img-surf4{
        display: block;
    }
    .contenedor-main-surf{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    .mq-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 0;
    }
    /* section surf/wake/snow*/
    .contenedor-hijo{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    /* footer */
    .footer-surf{
       margin: 0;
    }
}