$margenes:
30px,
20px,
2rem,
10px,
40px,
70px,
5%,
20%,
50%,
65%,
60px,
60%,
30%,
50px,
15px,
10%;

// estilos tipografia
$font-weight:
900,
600,
700,
800;

$font-size:
4rem,
25px,
3rem,
20px,
40px,
30px,
35px;




