$margenes:
/* 1 */ 30px,
/* 2 */ 20px,
/* 3 */ 2rem,
/* 4 */ 10px,
/* 5 */ 40px,
/* 6 */ 70px,
/* 7 */ 5%,
/* 8 */ 20%,
/* 9 */ 50%,
/* 10 */ 65%,
/* 11 */ 60px,
/* 12 */ 60%,
/* 13 */ 30%,
/* 14 */ 50px,
/* 15 */15px,
/*16 */ 10%;

// estilos tipografia
$font-weight:
900,
600,
700,
800;

$font-size:
4rem,
25px,
3rem,
20px,
40px,
30px,
35px;




