// colores
$col-1c: whitesmoke;
$col-2c: #6B6B6B;
$col-3c: black;
$col-4c: transparent;
$col-5c: rgb(34, 34, 34);

// centrado
$alig-items: center;
$text-alig: center;

// text shadow
$text-shad: 1px 2px 1px 1px;
$text-shad2: 1px;