
/* ------pag index */
#body-index{
    background-image: url(../img/img-surf2.jpg);
    background-repeat: map-get($body-index, back-repeat);
    background-position: map-get($body-index, back-position);
    background-size: map-get($body-index, back-size);
    @include tamañoImagenes (100%, 100%, cover);
    .main-index{
        color: $col-1c;
        div{
            .h2-index-dos{
                font-weight: nth($font-weight, 2); 
                font-size: nth($font-size, 1);
                text-shadow: $text-shad;
                font-style: italic;
                margin-right: nth($margenes, 3);   
            }   
        }
        p{
            .margin-right{
                margin-right: nth($margenes, 4);
            }
        }
    }
}

/* ------pag nosotros */
/* main */
.main-oculto{
    display: $dis-none;
}
/* section */
.img-nosotros{
    @include tamañoImagenes (100%, 100vh, cover);
}
/* article */
article{
    .texto-alineado{
        text-align: $text-alig;
        margin: 30px 10px 10px 10px;
    }
    .color{
        color: $col-2c;
    }
}

/* ------pag surf/snow/wake */
/* main */
main{
    p{
        .p-deportes{
            margin: 15px 5px 20px 5px;
        }
    }
    div{
        .img-deportes{
            @include altura-y-ancho (100%, 100%);
        }
        .img-deportes-dos{
            display: $dis-none;
        }
    }
}
/* section */
section{
    .contenedor-hijo-deportes{
        display: grid;
        justify-content: center;
        align-items: $alig-items;
        margin-top: nth($margenes, 5);
        .card{
            text-align: $text-alig;
            .tipografia{
                color: $col-3c;
                font-size: nth($font-size, 4);
            }
            .btn{
                color: $col-3c;
            }
            .btn-primary{
                color: $col-1c;
                background-color: $col-3c;
                border: $col-3c;
                &:hover{
                    background-color: $col-2c;
                }
            }
        }  
    }
}


